<!--The content below is only a placeholder and can be replaced.-->
<section class="py-8 bg-purple-lightest">
  <div class="container mx-auto px-6">
    <h2 class="text-purple-darker mt-0 mb-3 leading-tight">
      Paragraph Title
    </h2>
    <p class="text-purple-darker">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
      aliquid, commodi consequuntur deserunt dolorem, error ipsam numquam odit
      provident rem velit veniam. Ea nisi possimus quasi quibusdam quod
      reiciendis! Doloribus?
    </p>
  </div>
</section>
<app-someother></app-someother>
<!--<ul>-->
<!--<li class="text" *ngFor="let item of items">-->
<!--{{item.title}}-->
<!--</li>-->
<!--</ul>-->

<router-outlet></router-outlet>
