<router-outlet></router-outlet>
<div class="card-header">
  <morningharwood-select-collection
    *ngIf="routes && components"
    [dropDownOptions]="[routes, components]"
    [keyName]="['route', 'component']"
    [label]="['All Routes', 'All Components']"
    [valueProp]="['docKey', 'docKey']"
    [labelProp]="['name', 'name']"
    (selection)="loadAllComponentSchemas($event)">
  </morningharwood-select-collection>
</div>
<div class="grid">
  <form [formGroup]="f.form" (ngSubmit)="submit()"
        *ngFor="let f of editableSchemas">
    <div class="card">
      <formly-form [model]="f.model" [fields]="f.fields" [options]="f.options"
                   [form]="f.form">
        <button type="submit" mat-stroked-button=""
                [disabled]="!f.form.valid">Update Block
        </button>
      </formly-form>
    </div>
  </form>
</div>

