@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Adjusted Arial Black Fallback';
  src: local(Arial Black);
  size-adjust: 137%;
  ascent-override: 74%;
  descent-override: 17%;
  line-gap-override: 11%;
}

@font-face {
  font-display: swap;
  font-family: 'monument_extendedblack';
  src: url('../monumentextended-black-webfont.woff2') format('woff2'),
  url('../monumentextended-black-webfont.woff') format('woff');
}



@font-face {
  font-display: swap;
  font-family: 'pp_writerregular';
  src: url('../ppwriter-regular-webfont.woff2') format('woff2'),
  url('../ppwriter-regular-webfont.woff') format('woff');
}

:root {
  --primary-400: #2d3748;
  --primary-500: #1a202c;
  --primary-600: #10131a;
  --primary-700: #0d1016;
  --primary-800: #000000;

  --secondary-400: #f7fafc;
  --secondary-500: #edf0f7;
  --secondary-600: #cbd5e0;
  --secondary-700: #a0aec0;
  --secondary-800: #718096;

  --tertiary-400: #cbd5e0;
  --tertiary-500: #a0aec0;
  --tertiary-600: #718096;
  --tertiary-700: #4a5568;
  --tertiary-800: #2d3748;

  --accentA-400: #7effcd;
  --accentA-500: #47ffb8;
  --accentA-600: #40e6a6;
  --accentA-700: #35bf8a;
  --accentA-800: #2b996e;

  --accentB-400: #ff927e;
  --accentB-500: #ff6347;
  --accentB-600: #e65940;
  --accentB-700: #bf4a35;
  --accentB-800: #993b2b;

  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco,
  Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-display: 'monument_extendedblack', 'Adjusted Arial Black Fallback', sans-serif;
  --font-sans: ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  --font-serif: 'pp_writerregular', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

html, body {
  height: 100%;
}

h1 {
  font-family: var(--font-display);
  text-transform: uppercase;
}

p {
  font-family: var(--font-serif);
}

.parent {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.div1 {
  grid-area: 2 / 1 / 7 / 33;
}

.div2 {
  grid-area: 1 / 1 / 2 / 31;
}

.div3 {
  grid-area: 25 / 2 / 33 / 6;
}

.div4 {
  grid-area: 18 / 3 / 20 / 31;
}

.div5 {
  grid-area: 15 / 3 / 19 / 31;
}

.div6 {
  grid-area: 7 / 1 / 8 / 33;
}

.div7 {
  grid-area: 25 / 6 / 33 / 33;
}

.div8 {
  grid-area: 1 / 31 / 2 / 33;
}
.div9 {
  grid-area: 7 / 13 / 26 / 21;
}

@media (min-width: 769px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100%;
  }
  .div8 {
    grid-area: 31 / 32 / 33 / 33;
  }
  .div1 {
    grid-area: 1 / 1 / 1 / 9;
  }

  .div2 {
    grid-area: 2 / 1 / 6 / 9;
  }

  .div3 {
    grid-area: 3 / 1 / 12 / 9;
  }

  .div4 {
    grid-area: 29 / 1 / 32 / 32;
  }

  .div5 {
    grid-area: 15 / 9 / 20 / 25;
  }

  .div6 {
    grid-area: 1 / 25 / 20 / 33;
  }

  .div7 {
    grid-area: 20 / 1 / 31 / 33;
  }
}

.translate-z-in {
  transform: rotateZ(0deg) rotateY(0deg);
  opacity: .6;
  mix-blend-mode: exclusion;
}
.translate-z-out {
  transform: rotateZ(90deg) rotateY(90deg);
  opacity: 0;
  mix-blend-mode: exclusion;
}
